* { 
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #d6d6d6;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #7d1e2c;
    padding-left: 2em;
}

.header h1 {
    padding-top: 0.5em;
}

.header a {
    color: #f5f3ff;
    text-decoration: none;
}

a {
    color: #c20000;
    text-decoration: none;
    font-weight: bold;
}

a:hover, button:hover {
    cursor: pointer;
}

.header-links {
    display: flex;
    align-items: end;
    gap: 1em;
    padding: 2em;
}

.first-container {
    display: flex;
    flex-grow: 1;
}

.first-container-image {
    background-image: url("/static/theater.jpg");
    background-size: auto;
    flex: 1;
}

.first-container-content {
    flex: 1;
    padding: 2em;
    justify-content: center;
    flex-direction: column;
}

.second-container {
    padding: 1em;
    flex-grow: 1;
    background-color: #c0c0c0;
}

.movie-first-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.movie-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #d6d6d6;
    border-style: solid;
    border-color: #9f2638;
    padding: 2em;
    margin-bottom: 1em;
    gap: 1em;
}

.movie {
    padding: 2em;
    background-color: #b42b3f;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0.35em;
    border-color: #9f2638;
    font-weight: bold;
}

.movie a {
    color: #f5f3ff;
}

.header-links button {
    border-radius: 0.5em;
    border: none;
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: bold;
    color: #f5f3ff;
    background-color: #b42b3f;
}

button, input[type=submit] {
    border-radius: 0.5em;
    border: none;
    padding: 0.8em 1em;
    background-color: #b42b3f;
    color: #f5f3ff;
}

.footer {
    display: flex;
    background-color: #7d1e2c;
    padding: 2em;
    color: #f5f3ff;
    width: 100vw;
}

.info {
    color: red;
    background-color: transparent;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.show-movie-first-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-left: 10em;
}

.show-movie-second-container, .user-second-container {
    display: flex;
    padding-left: 2em;
    background-color: #c0c0c0;
}

h2, h3, h4 {
    color: #7d1e2c;
}

.review-container, .user-review-container {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    gap: 0.5em;
}

.review-container {
    padding-top: 2em;
}

.review, .user-review {
    padding: 1.5em;
    border-style: solid;
    border-color: #9f2638;
    border-radius: 0.5em;
    background-color: #d6d6d6;
}

.review-title-text {
    font-size: large;
    color: #7d1e2c;
}

.review p, .user-review p {
    color: #7d1e2c;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0.2em;
}

.review-buttons {
    padding-top: 1em;
    margin-right: 1em;
}

.add-review-container {
    padding-left: 10em;
    padding-bottom: 2em;
    background-color: #c0c0c0;
}

.page-container, .search-first-container, .search-second-container, .user-first-container, .user-second-container {
    padding-left: 2em;
}

.user-review {
    margin: 0.5em;
}

.user-icon {
    background: url("/static/user-icon.png");
    height: 45px;
    width: 45px;
    margin-left: 0.5em;
}

.user-second-container {
    flex-direction: column;
}

button img {
    height: 22px;
    width: 22px;
    margin-left: 0.5em;
}

.icon-button {
    display: flex;
    align-items: center;
}

.back-to-index {
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #c0c0c0;
}