<!DOCTYPE html>
<html>

<head>
  <title>Lisää elokuva</title>
</head>

<body>
    <h1>Elokuvasovellus</h1>
    <h2><u>Lisää elokuva</u></h2>
  <form action="/create_movie" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Ohjaaja: <br />
      <input type="text" name="director" />
    </p>
    <p>
      Valmistumisvuosi: <br />
      <input type="text" name="release_date" size="6" />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="14" cols="65"></textarea>
    </p>
    <input type="submit" value="Lisää elokuva" />
  </form>
    <p>
        <a href="/">Takaisin etusivulle</a>
    </p>
</body>

</html>