<!DOCTYPE html>
<html>

<head>
  <title>Lisää elokuva</title>
</head>

<body>
    <h1>Elokuvasovellus</h1>
    <h2><u>Lisää elokuva</u></h2>
  <form action="/create_movie" method="post">
    <p>
      <b>Nimi:</b> <br />
      <input type="text" name="title" maxlength="60" required/>
    </p>
    <p>
      <b>Ohjaaja:</b> <br />
      <input type="text" name="director" maxlength="60" required/>
    </p>
    <p>
      <b>Valmistumisvuosi:</b> <br />
      <input type="text" name="release_date" size="6" pattern="^(19|20)\d{2}$" required/>
    </p>
    <p>
    <b>Genre:</b><br />
    <select name="section" multiple>
      <!-- <option value="">(Valitse genre)</option> -->
      {% for genre in genres %}
        <option value="{{ genre }}">{{ genres[genre] }}</option>
      {% endfor %}
    </select>
    </p>
    <p>
      <b>Kuvaus:</b> <br />
      <textarea name="description" rows="14" cols="65" maxlength="1000" required></textarea>
    </p>
      <input type="submit" name="cancel_add" value="Peruuta" />
      <input type="submit" name="confirm_add" value="Lisää elokuva" />
  </form>
    <br>
    <p>
      <a href="/">Takaisin etusivulle</a>
    </p>
</body>

</html>