<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa elokuvan tietoja</title>
</head>

<body>
    <h1>Elokuvasovellus</h1>
    <h3><u>Muokkaa elokuvan tietoja</u></h3>
  <form action="/update_movie" method="post">
    <p>
      <b>Nimi:</b><br />
      <input type="text" name="title" value="{{ movie.title }}" />
    </p>
    <p>
      <b>Ohjaaja:</b><br />
      <input type="text" name="director" value="{{ movie.director }}" />
    </p>
    <p>
      <b>Valmistumisvuosi:</b><br />
      <input type="text" name="release_date" size="6" value="{{ movie.release_date }}" />
    </p>
    <p>
      <b>Kuvaus:</b><br />
      <textarea name="description" rows="14" cols="65">{{ movie.description }}</textarea>
    </p>
    <input type="hidden" name="movie_id" value="{{ movie.id }}" />
    <input type="submit" name="cancel_edit" value="Peruuta" />
    <input type="submit" name="save_edit" value="Tallenna muutokset" />
  </form>
    <p>
      <a href="/">Takaisin etusivulle</a>
    </p>
</body>

</html>