{% extends "layout.html" %}
{% block title %}Elokuvasovellus{% endblock %}
{% block content %}

<h2>Hae elokuvia</h2>
<form action="/search_movie" method="get">
    <p>
    Haku:
    <br>
    <input type="text" name="query" size="30" placeholder="Etsi elokuvan tai ohjaajan nimellä" value="{{ query }}">
    </p>
    <input type="submit" value="Tee haku">
</form>

{% if query %}
<br>
<h2>Haun tulokset</h2>
<p>Haulla '<i>{{ query }}</i>' löytyi yhteensä {{ res | length }} tulosta.</p>
<ul>
    {% for movie in res %}
    <li><a href="/movie/{{ movie.id }}">{{ movie.title }} ({{ movie.release_date }}), dir. {{ movie.director }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<p>
<br>
<a href="/">Takaisin etusivulle</a>
</p>
{% endblock %}