<!DOCTYPE html>
<html>

<head>
  <title>{{ movie.title }}</title>
</head>

<body>
    <h1>Elokuvasovellus</h1>
    <h2><u> {{ movie.title }} </u></h2>

    {% if session.user_id == movie.user_id %}
    <p>
    <a href="/edit_movie/{{ movie.id }}">Muokkaa elokuvan tietoja</a>
    </p>
    {% endif %}

    <p>
        <b>Ohjaaja: </b> {{ movie.director }}
    </p>
    <p>
        <b>Valmistumisvuosi: </b> {{ movie.release_date }}
    </p>
    <p>
        <b>Kuvaus: </b> {{ movie.description }}
    </p>
    <p>     
        Elokuvan lisäsi käyttäjä {{ movie.username }}
    </p>
    <br>
    <p>
        <a href="/">Takaisin etusivulle</a>
    </p>
</body>

</html>