{% extends "layout.html" %}
{% block title %}Elokuvasovellus{% endblock %}
{% block content %}

<div class="user-first-container">
<h2>Käyttäjä {{ user.username }}</h2>
<p>
Käyttäjä on lisännyt {{ movies | count }} elokuvaa ja kirjoittanut {{ user_reviews | count }} arvostelua.
</p>
<p>
<h3>Elokuvat</h3>
{% if movies %}
<div class="user-movies">
    {% for movie in movies %}
    <a href="/movie/{{ movie.id }}">{{ movie.title }} ({{ movie.release_date }})</a><br>
    {% endfor %}
</div>
{% else %}
  Käyttäjä ei ole vielä lisännyt yhtään elokuvaa.
{% endif %}
</p>
</div>
<div class="user-second-container">
<p>
<h3>Arvostelut</h3>
{% if user_reviews %}
<div class="user-review-container">
    {% for review in user_reviews %}
    <div class="user-review">
    <b>{{ review.title }} ({{ review.release_date }})</b>
      <br>Arvosana: {{ review.rating }}/5
      <br>{{ review.review_text }}
    </div>
    {% endfor %}
</div>
</p>
{% else %}
  Käyttäjä {{ user.username }} ei ole vielä kirjoittanut yhtään arvostelua.
  <br>
{% endif %}
</div>
<div class="back-to-index">
<a href="/">Takaisin etusivulle</a>
</div>
{% endblock %}